body {
  color: rgb(2, 2, 2);
  background: rgb(5, 5, 5);
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}

header {
  border-bottom: solid 2px rgba(254, 115, 35, 0.861);
  padding: 20px;
  font-size: 32px;
  color: rgba(255, 136, 0, 0.946);
}

.chamada {
  background: rgb(255, 200, 0);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid rgb(50, 55, 50);
}

.categoria h2 {
  color: rgb(233, 103, 10);
}